#logoBar {
  width: 30vw;
  height: 100vh;
  text-align: center;
}
#siteLogo {
  width: 100%;
}

body {
  display: flex;
  background-color: #fffdd0;
  color: #4f3f3e;
}

#staffGallery {
  width: 70vw;
  display: inherit;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}

.galleryImage {
  width: 170px;
  height: auto;
  background-color: #dbe098;
  border-radius: 10px 100px / 80px;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.card {
  width: 170px;
  height: 220px;
  background-color: #bcc07b;
  border: 2px solid #8b715b;
  border-radius: 10px 120px / 120px;
  text-align: right;
  padding: 10px;
  margin: 20px;
}

hr {
  border: 2px solid #4f3f3e;
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #logoBar {
    width: 100vw;
    height: 450px;
  }

  hr {
    width: 100%;
  }

  #staffGallery {
    width: 100vw;
  }
}
